<%- include('includes/header') %>
<body>
  <link rel="stylesheet" type="text/css" href="/css/signup.css" />
  <body>
    <form
      onsubmit="return validateSignUpForm()"
      class="login_container"
      action="/agency/signup"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="login_frame" style="width: 650px; height: 730px">
        <div class="login_top">
          <span>Sign Up</span>
          <div>
            Back to Main Page <a href="/agency" style="color: #6440fb">Home</a>
          </div>
          <p>
            Already a member?
            <a href="/agency/login" style="color: #6440fb">Sign In</a>
          </p>
        </div>

        <div class="sign_input_frame">
          <div class="sign_up_frame">
            <label>User ID</label>
            <input
              class="mb_nick"
              type="text"
              name="mb_nick"
              placeholder="User ID"
              value=""
              required
            />
          </div>

          <div class="sign_up_frame">
            <label>Phone number</label>
            <input
              class="mb_phone"
              type="text"
              name="mb_phone"
              placeholder="Phone number"
              value=""
              required
            />
          </div>
        </div>

        <!-- PASSWORD SECTION -->
        <div class="sign_input_frame">
          <div class="sign_up_frame">
            <label>Password</label>
            <input
              class="mb_password"
              type="password"
              name="mb_password"
              placeholder="Password"
              value=""
              required
            />
          </div>

          <div class="sign_up_frame">
            <label>Confirm your password</label>
            <input
              class="mb_confirm_password"
              type="password"
              name="mb_confirm_password"
              placeholder="Confirm your password"
              value=""
              required
            />
          </div>
        </div>

        <!-- ADDRESS SECTION -->
        <div class="sign_input_frame">
          <div class="sign_up_address_frame">
            <label>Address</label>
            <input
              class="mb_address"
              type="text"
              name="mb_address"
              placeholder="Address"
              value=""
              required
            />
          </div>
        </div>

        <div class="login_input_frame">
          <div class="media-frame">
            <img
              class="upload_img_frame"
              src="/img/apartmenr.jpg"
              alt="resto_img_required"
            />
            <div class="upload_container">
              <span class="media_text">Agency Image</span>
              <div class="filebox bs3-primary preview-images">
                <input
                  class="upload-name"
                  value="Choose file"
                  disabled="disabled"
                />
                <label for="input_file">Upload image</label>
                <input
                  type="file"
                  id="input_file"
                  name="agency_img"
                  class="upload-hiddin form-control-file agency_img"
                />
              </div>

              <p class="thumbnail_desc">
                Please upload your Restaurant image. <br />Note: Please upload
                required img format(jpg,jpeg or png) <br />
                Image doesn't cointain text!
              </p>
            </div>
          </div>
        </div>

        <!-- RO"YHATDAN O"TISH BUTTON -->
        <button class="login_btn btn" name="signup" type="submit">
          Sign Up
        </button>
      </div>
    </form>

    <script>
      $(function () {
        let fileTarget = $(".filebox .upload-hiddin");
        let filename = "";
        fileTarget.on("change", function () {
          if (window.FileReader) {
            const uploading_file = $(this)[0].files[0];
            const fileType = uploading_file["type"];
            const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
            if (!validImageTypes.includes(fileType)) {
              alert("Please upload required file: jpg, jpeg va png!");
            } else {
              if (uploading_file) {
                console.log(URL.createObjectURL(uploading_file));
                $(".upload_img_frame")
                  .attr("src", URL.createObjectURL(uploading_file))
                  .addClass("success");
              }
              filename = uploading_file.name;
            }
          }
          $(this).siblings(".upload-name").val(filename);
        });
      });

      function validateSignUpForm() {
        const mb_nick = $(".mb_nick").val();
        const mb_phone = $(".mb_phone").val();
        const mb_password = $(".mb_password").val();
        const mb_confirm_password = $(".mb_confirm_password").val();
        const mb_address = $(".mb_address").val();
        const agency_img = $(".agency_img").get(0).files[0] ?? null;

        if (
          mb_nick == "" ||
          mb_phone == "" ||
          mb_password == "" ||
          mb_confirm_password == "" ||
          mb_address == ""
        ) {
          alert("Please complete all the fields");
          return false;
        } else if (mb_password !== mb_confirm_password) {
          alert(`Please enter password correctly`);
          return false;
        }
        if (!agency_img) {
          alert("Please upload image");
          return false;
        }
        return true;
      }
    </script>
  </body>

  <%- include('includes/footer') %>
</body>
